{% extends "base.html" %}
 
{% block content%}
        <section>
            <h2>Admin Dashboard</h2>

            {% if user.is_authenticated %}
            <img width="100px" height="100px" src="{{user.profile.image.url}}"
            <p>Welcome: {{username}}:</p>
        
            {%endif%}
            <form action="#" method="post">
                <label for="userID">Enter ID:</label>
                <input type="text" id="userid" name="userid" placeholder="Enter ID">
                <input type="submit" value="Find">
            </form>
        </section>
        <section>
            <h2>Customer's Electricity Bill Details</h2>
            <!-- Placeholder for bill details -->
            <p>Meter No: $XXX</p>
            <p>Customer Name: XX/XX/XXXX</p>
            <p>Phone No: Paid/Unpaid</p>
            <p>Email Id: Paid/Unpaid</p>
            <p>City: Paid/Unpaid</p>
        </section>
        {%endblock%}
