{% extends "Font_Base_Layout.html" %}

{% block title %}
Electricity Bill System
{% endblock %}

{% block content %}
        <section>
            <div class="article">
                <h2>Quick Info</h2>
                <p>This system allows you to conveniently manage and view your electricity bills online.</p>
                <p>Use our easy-to-use interface to input your electricity usage data and view your bill details.</p>
                <a href="#">Read More</a>
            </div>
            <div class="article">
                <h2>Quick Pay</h2>
                <p>This system allows you to conveniently manage and view your electricity bills online.</p>
                <p>Use our easy-to-use interface to input your electricity usage data and view your bill details.</p>
                <a href="#">Read More</a>
            </div>
            <div class="article">
                <h2>Safety Tips</h2>
                <p>This system allows you to conveniently manage and view your electricity bills online.</p>
                <p>Use our easy-to-use interface to input your electricity usage data and view your bill details.</p>
                <a href="#">Read More</a>
            </div>
            
            <!-- Add more articles as needed -->
        </section>
        <section>
             
            <img src="media\images\background02.jpg" class="feature-image">
            
        </section>
   {% endblock %}
